.custom-control-input:checked~.custom-control-label::before{color:#fff;border-color:#6c757d;background-color:#6c757d}
.custom-control-input:focus~.custom-control-label::before{box-shadow:0 0 0 .2rem rgba(	108, 117, 125, .3)}
.custom-control-input:focus:not(:checked)~.custom-control-label::before{border-color:#6c757d}

.cardLink {
    color: #856404;
    display: inline;
    padding: .3rem .15rem;
}
.cardLink:hover {
    color: #574309 !important;
    /* font-weight:bolder;*/
    text-decoration: underline !important; 
    cursor:pointer;
}

.checkedItem {
    text-decoration-line: line-through;
}

.cursorPointer {
    cursor:pointer !important;
}

.filterActive {
    background-color: #d3d9df;
}

.modalContent {
    margin-top: 150px;
    background-color: white;
    border-radius: .3rem;
}
